<h1>Blackjack!</h1>

<div>
	<h4 class="<%= session[:turn] == :dealer ? 'myturn' : nil %>">Dealer's Cards:</h4>
	<ul class="hand">
		<% session[:dealer_hand].each do |card| %>
		<li><img src="/images/cards/<%= card.to_image %>"></li>
		<% end %>
		<li class="total">Total: <%= session[:dealer_hand].value %></li>		
	</ul>
</div>

<div>
	<h4 class="<%= session[:turn] == :player ? 'myturn' : nil %>"><%= session[:user] %>'s Cards:</h4>
	<ul class="hand">
		<% session[:player_hand].each do |card| %>
		<li><img src="/images/cards/<%= card.to_image %>"></li>
		<% end %>
		<li class="total">Total: <%= session[:player_hand].value %></li>	
	</ul>
</div>


<p>What would you like to do?</p>
<form action="/play" method="post">
	<% if session[:turn] == :player %>	
		<button type="submit" name="player_action" value="hit" class="btn">Hit</button>
		<button type="submit" name="player_action" value="stay" class="btn">Stay</button>
	<% end %>
	<% if session[:turn] == :dealer %>
		<button type="submit" name="dealer_action" value="hit_or_stay" class="btn">Next Move</button>
	<% end %>
</form>